{% include 'default.html' %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<body>

    <div id="prediction" style="position: absolute; top:20%;right:2px;left : 20%;height:75%;width:65%; background-color:beige">
        <form>
        <a href="/">Go to Main Page</a>
        <span style="font-family:Georgia, 'Times New Roman', Times, serif, sans-serif;font-size: 30px; color:red;
        position: right;right:50px; top:50px">
            <br>   You may have
            <br>
            <br>
            {{disease[0]}}</br>
        </span>

			
        </span>
	
        <br>
		
        </form>
    </div>

    </body>
